// icons

.#{$hi-css-prefix}-twitter {
    &:before {
        content: $hi-twitter;
    }
}
.#{$hi-css-prefix}-facebook {
    &:before {
        content: $hi-facebook;
    }
}
.#{$hi-css-prefix}-github {
    &:before {
        content: $hi-github;
    }
}
.#{$hi-css-prefix}-pinterest {
    &:before {
        content: $hi-pinterest;
    }
}
.#{$hi-css-prefix}-google-plus {
    &:before {
        content: $hi-google-plus;
    }
}
.#{$hi-css-prefix}-eur {
    &:before {
        content: $hi-eur;
    }
}
.#{$hi-css-prefix}-euro {
    &:before {
        content: $hi-euro;
    }
}
.#{$hi-css-prefix}-gbp {
    &:before {
        content: $hi-gbp;
    }
}
.#{$hi-css-prefix}-dollar2 {
    &:before {
        content: $hi-dollar2;
    }
}
.#{$hi-css-prefix}-usd {
    &:before {
        content: $hi-usd;
    }
}
.#{$hi-css-prefix}-inr {
    &:before {
        content: $hi-inr;
    }
}
.#{$hi-css-prefix}-rupee {
    &:before {
        content: $hi-rupee;
    }
}
.#{$hi-css-prefix}-cny {
    &:before {
        content: $hi-cny;
    }
}
.#{$hi-css-prefix}-jpy {
    &:before {
        content: $hi-jpy;
    }
}
.#{$hi-css-prefix}-rmb {
    &:before {
        content: $hi-rmb;
    }
}
.#{$hi-css-prefix}-yen {
    &:before {
        content: $hi-yen;
    }
}
.#{$hi-css-prefix}-rouble {
    &:before {
        content: $hi-rouble;
    }
}
.#{$hi-css-prefix}-rub {
    &:before {
        content: $hi-rub;
    }
}
.#{$hi-css-prefix}-ruble {
    &:before {
        content: $hi-ruble;
    }
}
.#{$hi-css-prefix}-bitcoin {
    &:before {
        content: $hi-bitcoin;
    }
}
.#{$hi-css-prefix}-btc {
    &:before {
        content: $hi-btc;
    }
}
.#{$hi-css-prefix}-reddit {
    &:before {
        content: $hi-reddit;
    }
}
.#{$hi-css-prefix}-paypal {
    &:before {
        content: $hi-paypal;
    }
}
.#{$hi-css-prefix}-cc-visa {
    &:before {
        content: $hi-cc-visa;
    }
}
.#{$hi-css-prefix}-cc-mastercard {
    &:before {
        content: $hi-cc-mastercard;
    }
}
.#{$hi-css-prefix}-cc-discover {
    &:before {
        content: $hi-cc-discover;
    }
}
.#{$hi-css-prefix}-cc-amex {
    &:before {
        content: $hi-cc-amex;
    }
}
.#{$hi-css-prefix}-cc-paypal {
    &:before {
        content: $hi-cc-paypal;
    }
}
.#{$hi-css-prefix}-cc-stripe {
    &:before {
        content: $hi-cc-stripe;
    }
}
.#{$hi-css-prefix}-copyright {
    &:before {
        content: $hi-copyright;
    }
}
.#{$hi-css-prefix}-cc {
    &:before {
        content: $hi-cc;
    }
}
.#{$hi-css-prefix}-trademark {
    &:before {
        content: $hi-trademark;
    }
}
.#{$hi-css-prefix}-registered {
    &:before {
        content: $hi-registered;
    }
}
.#{$hi-css-prefix}-creative-commons {
    &:before {
        content: $hi-creative-commons;
    }
}
.#{$hi-css-prefix}-bluetooth {
    &:before {
        content: $hi-bluetooth;
    }
}
.#{$hi-css-prefix}-bluetooth-b {
    &:before {
        content: $hi-bluetooth-b;
    }
}
.#{$hi-css-prefix}-cut {
    &:before {
        content: $hi-cut;
    }
}
.#{$hi-css-prefix}-list-ol {
    &:before {
        content: $hi-list-ol;
    }
}
.#{$hi-css-prefix}-list-ul {
    &:before {
        content: $hi-list-ul;
    }
}
.#{$hi-css-prefix}-list {
    &:before {
        content: $hi-list;
    }
}
.#{$hi-css-prefix}-font {
    &:before {
        content: $hi-font;
    }
}
.#{$hi-css-prefix}-strikethrough {
    &:before {
        content: $hi-strikethrough;
    }
}
.#{$hi-css-prefix}-table {
    &:before {
        content: $hi-table;
    }
}
.#{$hi-css-prefix}-align-left {
    &:before {
        content: $hi-align-left;
    }
}
.#{$hi-css-prefix}-align-right {
    &:before {
        content: $hi-align-right;
    }
}
.#{$hi-css-prefix}-link {
    &:before {
        content: $hi-link;
    }
}
.#{$hi-css-prefix}-paste {
    &:before {
        content: $hi-paste;
    }
}
.#{$hi-css-prefix}-save {
    &:before {
        content: $hi-save;
    }
}
.#{$hi-css-prefix}-unlink {
    &:before {
        content: $hi-unlink;
    }
}
.#{$hi-css-prefix}-align-center {
    &:before {
        content: $hi-align-center;
    }
}
.#{$hi-css-prefix}-align-justify {
    &:before {
        content: $hi-align-justify;
    }
}
.#{$hi-css-prefix}-bold {
    &:before {
        content: $hi-bold;
    }
}
.#{$hi-css-prefix}-italic {
    &:before {
        content: $hi-italic;
    }
}
.#{$hi-css-prefix}-underline {
    &:before {
        content: $hi-underline;
    }
}
.#{$hi-css-prefix}-th {
    &:before {
        content: $hi-th;
    }
}
.#{$hi-css-prefix}-th-large {
    &:before {
        content: $hi-th-large;
    }
}
.#{$hi-css-prefix}-th-list {
    &:before {
        content: $hi-th-list;
    }
}
.#{$hi-css-prefix}-keyboard-o {
    &:before {
        content: $hi-keyboard-o;
    }
}
.#{$hi-css-prefix}-question-circle {
    &:before {
        content: $hi-question-circle;
    }
}
.#{$hi-css-prefix}-question {
    &:before {
        content: $hi-question;
    }
}
.#{$hi-css-prefix}-building-o {
    &:before {
        content: $hi-building-o;
    }
}
.#{$hi-css-prefix}-bullseye {
    &:before {
        content: $hi-bullseye;
    }
}
.#{$hi-css-prefix}-fast-forward {
    &:before {
        content: $hi-fast-forward;
    }
}
.#{$hi-css-prefix}-forward {
    &:before {
        content: $hi-forward;
    }
}
.#{$hi-css-prefix}-pause-circle {
    &:before {
        content: $hi-pause-circle;
    }
}
.#{$hi-css-prefix}-pause {
    &:before {
        content: $hi-pause;
    }
}
.#{$hi-css-prefix}-play-circle {
    &:before {
        content: $hi-play-circle;
    }
}
.#{$hi-css-prefix}-stop-circle {
    &:before {
        content: $hi-stop-circle;
    }
}
.#{$hi-css-prefix}-stop {
    &:before {
        content: $hi-stop;
    }
}
.#{$hi-css-prefix}-eject {
    &:before {
        content: $hi-eject;
    }
}
.#{$hi-css-prefix}-fast-backward {
    &:before {
        content: $hi-fast-backward;
    }
}
.#{$hi-css-prefix}-tree {
    &:before {
        content: $hi-tree;
    }
}
.#{$hi-css-prefix}-trophy {
    &:before {
        content: $hi-trophy;
    }
}
.#{$hi-css-prefix}-truck {
    &:before {
        content: $hi-truck;
    }
}
.#{$hi-css-prefix}-umbrella {
    &:before {
        content: $hi-umbrella;
    }
}
.#{$hi-css-prefix}-unlock-alt {
    &:before {
        content: $hi-unlock-alt;
    }
}
.#{$hi-css-prefix}-unlock {
    &:before {
        content: $hi-unlock;
    }
}
.#{$hi-css-prefix}-upload {
    &:before {
        content: $hi-upload;
    }
}
.#{$hi-css-prefix}-thumbs-up {
    &:before {
        content: $hi-thumbs-up;
    }
}
.#{$hi-css-prefix}-ticket {
    &:before {
        content: $hi-ticket;
    }
}
.#{$hi-css-prefix}-times-circle-o {
    &:before {
        content: $hi-times-circle-o;
    }
}
.#{$hi-css-prefix}-times-circle {
    &:before {
        content: $hi-times-circle;
    }
}
.#{$hi-css-prefix}-times {
    &:before {
        content: $hi-times;
    }
}
.#{$hi-css-prefix}-tint {
    &:before {
        content: $hi-tint;
    }
}
.#{$hi-css-prefix}-trash-o {
    &:before {
        content: $hi-trash-o;
    }
}
.#{$hi-css-prefix}-trash {
    &:before {
        content: $hi-trash;
    }
}
.#{$hi-css-prefix}-thumbs-o-down {
    &:before {
        content: $hi-thumbs-o-down;
    }
}
.#{$hi-css-prefix}-thumbs-down {
    &:before {
        content: $hi-thumbs-down;
    }
}
.#{$hi-css-prefix}-thumbs-o-up {
    &:before {
        content: $hi-thumbs-o-up;
    }
}
.#{$hi-css-prefix}-tablet {
    &:before {
        content: $hi-tablet;
    }
}
.#{$hi-css-prefix}-tachometer-o {
    &:before {
        content: $hi-tachometer-o;
    }
}
.#{$hi-css-prefix}-dashboard-o {
    &:before {
        content: $hi-dashboard-o;
    }
}
.#{$hi-css-prefix}-tachometer {
    &:before {
        content: $hi-tachometer;
    }
}
.#{$hi-css-prefix}-dashboard {
    &:before {
        content: $hi-dashboard;
    }
}
.#{$hi-css-prefix}-television {
    &:before {
        content: $hi-television;
    }
}
.#{$hi-css-prefix}-tv {
    &:before {
        content: $hi-tv;
    }
}
.#{$hi-css-prefix}-terminal {
    &:before {
        content: $hi-terminal;
    }
}
.#{$hi-css-prefix}-thumb-tack {
    &:before {
        content: $hi-thumb-tack;
    }
}
.#{$hi-css-prefix}-sticky-note-o {
    &:before {
        content: $hi-sticky-note-o;
    }
}
.#{$hi-css-prefix}-sticky-note {
    &:before {
        content: $hi-sticky-note;
    }
}
.#{$hi-css-prefix}-street-view {
    &:before {
        content: $hi-street-view;
    }
}
.#{$hi-css-prefix}-suitcase {
    &:before {
        content: $hi-suitcase;
    }
}
.#{$hi-css-prefix}-sun-o {
    &:before {
        content: $hi-sun-o;
    }
}
.#{$hi-css-prefix}-tag {
    &:before {
        content: $hi-tag;
    }
}
.#{$hi-css-prefix}-tags {
    &:before {
        content: $hi-tags;
    }
}
.#{$hi-css-prefix}-taxi {
    &:before {
        content: $hi-taxi;
    }
}
.#{$hi-css-prefix}-spinner {
    &:before {
        content: $hi-spinner;
    }
}
.#{$hi-css-prefix}-spoon {
    &:before {
        content: $hi-spoon;
    }
}
.#{$hi-css-prefix}-square-o {
    &:before {
        content: $hi-square-o;
    }
}
.#{$hi-css-prefix}-square {
    &:before {
        content: $hi-square;
    }
}
.#{$hi-css-prefix}-star-half-empty {
    &:before {
        content: $hi-star-half-empty;
    }
}
.#{$hi-css-prefix}-star-half {
    &:before {
        content: $hi-star-half;
    }
}
.#{$hi-css-prefix}-star-o {
    &:before {
        content: $hi-star-o;
    }
}
.#{$hi-css-prefix}-star {
    &:before {
        content: $hi-star;
    }
}
.#{$hi-css-prefix}-sort-numeric-desc {
    &:before {
        content: $hi-sort-numeric-desc;
    }
}
.#{$hi-css-prefix}-sort-alpha-desc {
    &:before {
        content: $hi-sort-alpha-desc;
    }
}
.#{$hi-css-prefix}-sort-amount-asc {
    &:before {
        content: $hi-sort-amount-asc;
    }
}
.#{$hi-css-prefix}-sort-amount-desc {
    &:before {
        content: $hi-sort-amount-desc;
    }
}
.#{$hi-css-prefix}-sort-asc {
    &:before {
        content: $hi-sort-asc;
    }
}
.#{$hi-css-prefix}-sort-desc {
    &:before {
        content: $hi-sort-desc;
    }
}
.#{$hi-css-prefix}-sort-numeric-asc {
    &:before {
        content: $hi-sort-numeric-asc;
    }
}
.#{$hi-css-prefix}-sign-out {
    &:before {
        content: $hi-sign-out;
    }
}
.#{$hi-css-prefix}-signal {
    &:before {
        content: $hi-signal;
    }
}
.#{$hi-css-prefix}-sitemap {
    &:before {
        content: $hi-sitemap;
    }
}
.#{$hi-css-prefix}-sliders {
    &:before {
        content: $hi-sliders;
    }
}
.#{$hi-css-prefix}-smile-o {
    &:before {
        content: $hi-smile-o;
    }
}
.#{$hi-css-prefix}-sort-alpha-asc {
    &:before {
        content: $hi-sort-alpha-asc;
    }
}
.#{$hi-css-prefix}-sort {
    &:before {
        content: $hi-sort;
    }
}
.#{$hi-css-prefix}-shield {
    &:before {
        content: $hi-shield;
    }
}
.#{$hi-css-prefix}-ship {
    &:before {
        content: $hi-ship;
    }
}
.#{$hi-css-prefix}-shopping-bag {
    &:before {
        content: $hi-shopping-bag;
    }
}
.#{$hi-css-prefix}-shopping-basket {
    &:before {
        content: $hi-shopping-basket;
    }
}
.#{$hi-css-prefix}-sign-in {
    &:before {
        content: $hi-sign-in;
    }
}
.#{$hi-css-prefix}-share-alt-square {
    &:before {
        content: $hi-share-alt-square;
    }
}
.#{$hi-css-prefix}-share-alt {
    &:before {
        content: $hi-share-alt;
    }
}
.#{$hi-css-prefix}-share-square-o {
    &:before {
        content: $hi-share-square-o;
    }
}
.#{$hi-css-prefix}-share-square {
    &:before {
        content: $hi-share-square;
    }
}
.#{$hi-css-prefix}-rocket {
    &:before {
        content: $hi-rocket;
    }
}
.#{$hi-css-prefix}-rss-square {
    &:before {
        content: $hi-rss-square;
    }
}
.#{$hi-css-prefix}-rss {
    &:before {
        content: $hi-rss;
    }
}
.#{$hi-css-prefix}-search-minus {
    &:before {
        content: $hi-search-minus;
    }
}
.#{$hi-css-prefix}-search-plus {
    &:before {
        content: $hi-search-plus;
    }
}
.#{$hi-css-prefix}-search {
    &:before {
        content: $hi-search;
    }
}
.#{$hi-css-prefix}-server {
    &:before {
        content: $hi-server;
    }
}
.#{$hi-css-prefix}-share {
    &:before {
        content: $hi-share;
    }
}
.#{$hi-css-prefix}-random {
    &:before {
        content: $hi-random;
    }
}
.#{$hi-css-prefix}-refresh {
    &:before {
        content: $hi-refresh;
    }
}
.#{$hi-css-prefix}-reply-all {
    &:before {
        content: $hi-reply-all;
    }
}
.#{$hi-css-prefix}-reply {
    &:before {
        content: $hi-reply;
    }
}
.#{$hi-css-prefix}-retweet {
    &:before {
        content: $hi-retweet;
    }
}
.#{$hi-css-prefix}-road {
    &:before {
        content: $hi-road;
    }
}
.#{$hi-css-prefix}-quote-left {
    &:before {
        content: $hi-quote-left;
    }
}
.#{$hi-css-prefix}-quote-right {
    &:before {
        content: $hi-quote-right;
    }
}
.#{$hi-css-prefix}-puzzle-piece {
    &:before {
        content: $hi-puzzle-piece;
    }
}
.#{$hi-css-prefix}-qrcode {
    &:before {
        content: $hi-qrcode;
    }
}
.#{$hi-css-prefix}-plane {
    &:before {
        content: $hi-plane;
    }
}
.#{$hi-css-prefix}-plug {
    &:before {
        content: $hi-plug;
    }
}
.#{$hi-css-prefix}-plus-circle {
    &:before {
        content: $hi-plus-circle;
    }
}
.#{$hi-css-prefix}-plus-square-o {
    &:before {
        content: $hi-plus-square-o;
    }
}
.#{$hi-css-prefix}-plus-square {
    &:before {
        content: $hi-plus-square;
    }
}
.#{$hi-css-prefix}-plus {
    &:before {
        content: $hi-plus;
    }
}
.#{$hi-css-prefix}-power-off {
    &:before {
        content: $hi-power-off;
    }
}
.#{$hi-css-prefix}-print {
    &:before {
        content: $hi-print;
    }
}
.#{$hi-css-prefix}-pencil-square-o {
    &:before {
        content: $hi-pencil-square-o;
    }
}
.#{$hi-css-prefix}-pencil-square {
    &:before {
        content: $hi-pencil-square;
    }
}
.#{$hi-css-prefix}-percent {
    &:before {
        content: $hi-percent;
    }
}
.#{$hi-css-prefix}-phone-square {
    &:before {
        content: $hi-phone-square;
    }
}
.#{$hi-css-prefix}-phone {
    &:before {
        content: $hi-phone;
    }
}
.#{$hi-css-prefix}-picture-o {
    &:before {
        content: $hi-picture-o;
    }
}
.#{$hi-css-prefix}-picture {
    &:before {
        content: $hi-picture;
    }
}
.#{$hi-css-prefix}-pie-chart {
    &:before {
        content: $hi-pie-chart;
    }
}
.#{$hi-css-prefix}-pencil {
    &:before {
        content: $hi-pencil;
    }
}
.#{$hi-css-prefix}-object-group {
    &:before {
        content: $hi-object-group;
    }
}
.#{$hi-css-prefix}-object-ungroup {
    &:before {
        content: $hi-object-ungroup;
    }
}
.#{$hi-css-prefix}-paint-brush {
    &:before {
        content: $hi-paint-brush;
    }
}
.#{$hi-css-prefix}-paper-plane-o {
    &:before {
        content: $hi-paper-plane-o;
    }
}
.#{$hi-css-prefix}-paper-plane {
    &:before {
        content: $hi-paper-plane;
    }
}
.#{$hi-css-prefix}-paperclip {
    &:before {
        content: $hi-paperclip;
    }
}
.#{$hi-css-prefix}-paw {
    &:before {
        content: $hi-paw;
    }
}
.#{$hi-css-prefix}-mobile {
    &:before {
        content: $hi-mobile;
    }
}
.#{$hi-css-prefix}-money {
    &:before {
        content: $hi-money;
    }
}
.#{$hi-css-prefix}-dollar-bill {
    &:before {
        content: $hi-dollar-bill;
    }
}
.#{$hi-css-prefix}-currency {
    &:before {
        content: $hi-currency;
    }
}
.#{$hi-css-prefix}-moon-o {
    &:before {
        content: $hi-moon-o;
    }
}
.#{$hi-css-prefix}-moon {
    &:before {
        content: $hi-moon;
    }
}
.#{$hi-css-prefix}-motorcycle {
    &:before {
        content: $hi-motorcycle;
    }
}
.#{$hi-css-prefix}-mouse-pointer {
    &:before {
        content: $hi-mouse-pointer;
    }
}
.#{$hi-css-prefix}-music {
    &:before {
        content: $hi-music;
    }
}
.#{$hi-css-prefix}-newspaper-o {
    &:before {
        content: $hi-newspaper-o;
    }
}
.#{$hi-css-prefix}-meh-o {
    &:before {
        content: $hi-meh-o;
    }
}
.#{$hi-css-prefix}-microphone-slash {
    &:before {
        content: $hi-microphone-slash;
    }
}
.#{$hi-css-prefix}-microphone {
    &:before {
        content: $hi-microphone;
    }
}
.#{$hi-css-prefix}-minus-circle {
    &:before {
        content: $hi-minus-circle;
    }
}
.#{$hi-css-prefix}-minus-square-o {
    &:before {
        content: $hi-minus-square-o;
    }
}
.#{$hi-css-prefix}-minus-square {
    &:before {
        content: $hi-minus-square;
    }
}
.#{$hi-css-prefix}-minus {
    &:before {
        content: $hi-minus;
    }
}
.#{$hi-css-prefix}-map-signs {
    &:before {
        content: $hi-map-signs;
    }
}
.#{$hi-css-prefix}-magic {
    &:before {
        content: $hi-magic;
    }
}
.#{$hi-css-prefix}-magnet {
    &:before {
        content: $hi-magnet;
    }
}
.#{$hi-css-prefix}-male {
    &:before {
        content: $hi-male;
    }
}
.#{$hi-css-prefix}-map-marker {
    &:before {
        content: $hi-map-marker;
    }
}
.#{$hi-css-prefix}-map-o {
    &:before {
        content: $hi-map-o;
    }
}
.#{$hi-css-prefix}-map-pin {
    &:before {
        content: $hi-map-pin;
    }
}
.#{$hi-css-prefix}-map {
    &:before {
        content: $hi-map;
    }
}
.#{$hi-css-prefix}-life-ring {
    &:before {
        content: $hi-life-ring;
    }
}
.#{$hi-css-prefix}-life-buoy {
    &:before {
        content: $hi-life-buoy;
    }
}
.#{$hi-css-prefix}-life-bouy {
    &:before {
        content: $hi-life-bouy;
    }
}
.#{$hi-css-prefix}-life-saver {
    &:before {
        content: $hi-life-saver;
    }
}
.#{$hi-css-prefix}-lightbulb-o {
    &:before {
        content: $hi-lightbulb-o;
    }
}
.#{$hi-css-prefix}-lightbulb {
    &:before {
        content: $hi-lightbulb;
    }
}
.#{$hi-css-prefix}-line-chart {
    &:before {
        content: $hi-line-chart;
    }
}
.#{$hi-css-prefix}-location-arrow {
    &:before {
        content: $hi-location-arrow;
    }
}
.#{$hi-css-prefix}-lock {
    &:before {
        content: $hi-lock;
    }
}
.#{$hi-css-prefix}-trend {
    &:before {
        content: $hi-trend;
    }
}
.#{$hi-css-prefix}-laptop {
    &:before {
        content: $hi-laptop;
    }
}
.#{$hi-css-prefix}-leaf {
    &:before {
        content: $hi-leaf;
    }
}
.#{$hi-css-prefix}-lemon-o {
    &:before {
        content: $hi-lemon-o;
    }
}
.#{$hi-css-prefix}-lemon {
    &:before {
        content: $hi-lemon;
    }
}
.#{$hi-css-prefix}-level-down {
    &:before {
        content: $hi-level-down;
    }
}
.#{$hi-css-prefix}-level-up {
    &:before {
        content: $hi-level-up;
    }
}
.#{$hi-css-prefix}-industry {
    &:before {
        content: $hi-industry;
    }
}
.#{$hi-css-prefix}-info-circle {
    &:before {
        content: $hi-info-circle;
    }
}
.#{$hi-css-prefix}-info {
    &:before {
        content: $hi-info;
    }
}
.#{$hi-css-prefix}-key {
    &:before {
        content: $hi-key;
    }
}
.#{$hi-css-prefix}-language {
    &:before {
        content: $hi-language;
    }
}
.#{$hi-css-prefix}-history {
    &:before {
        content: $hi-history;
    }
}
.#{$hi-css-prefix}-home {
    &:before {
        content: $hi-home;
    }
}
.#{$hi-css-prefix}-hourglass-end {
    &:before {
        content: $hi-hourglass-end;
    }
}
.#{$hi-css-prefix}-hourglass-half {
    &:before {
        content: $hi-hourglass-half;
    }
}
.#{$hi-css-prefix}-hourglass-o {
    &:before {
        content: $hi-hourglass-o;
    }
}
.#{$hi-css-prefix}-hourglass-start {
    &:before {
        content: $hi-hourglass-start;
    }
}
.#{$hi-css-prefix}-hourglass {
    &:before {
        content: $hi-hourglass;
    }
}
.#{$hi-css-prefix}-i-cursor {
    &:before {
        content: $hi-i-cursor;
    }
}
.#{$hi-css-prefix}-inbox {
    &:before {
        content: $hi-inbox;
    }
}
.#{$hi-css-prefix}-hdd-o {
    &:before {
        content: $hi-hdd-o;
    }
}
.#{$hi-css-prefix}-headphones {
    &:before {
        content: $hi-headphones;
    }
}
.#{$hi-css-prefix}-heart-o {
    &:before {
        content: $hi-heart-o;
    }
}
.#{$hi-css-prefix}-heart {
    &:before {
        content: $hi-heart;
    }
}
.#{$hi-css-prefix}-heartbeat {
    &:before {
        content: $hi-heartbeat;
    }
}
.#{$hi-css-prefix}-gift {
    &:before {
        content: $hi-gift;
    }
}
.#{$hi-css-prefix}-glass {
    &:before {
        content: $hi-glass;
    }
}
.#{$hi-css-prefix}-globe-alt {
    &:before {
        content: $hi-globe-alt;
    }
}
.#{$hi-css-prefix}-globe {
    &:before {
        content: $hi-globe;
    }
}
.#{$hi-css-prefix}-graduation-cap {
    &:before {
        content: $hi-graduation-cap;
    }
}
.#{$hi-css-prefix}-hashtag {
    &:before {
        content: $hi-hashtag;
    }
}
.#{$hi-css-prefix}-flag-o {
    &:before {
        content: $hi-flag-o;
    }
}
.#{$hi-css-prefix}-flask {
    &:before {
        content: $hi-flask;
    }
}
.#{$hi-css-prefix}-folder-o {
    &:before {
        content: $hi-folder-o;
    }
}
.#{$hi-css-prefix}-folder-open-o {
    &:before {
        content: $hi-folder-open-o;
    }
}
.#{$hi-css-prefix}-folder-open {
    &:before {
        content: $hi-folder-open;
    }
}
.#{$hi-css-prefix}-folder {
    &:before {
        content: $hi-folder;
    }
}
.#{$hi-css-prefix}-frown-o {
    &:before {
        content: $hi-frown-o;
    }
}
.#{$hi-css-prefix}-gamepad {
    &:before {
        content: $hi-gamepad;
    }
}
.#{$hi-css-prefix}-gavel {
    &:before {
        content: $hi-gavel;
    }
}
.#{$hi-css-prefix}-filter {
    &:before {
        content: $hi-filter;
    }
}
.#{$hi-css-prefix}-fire-extinguisher {
    &:before {
        content: $hi-fire-extinguisher;
    }
}
.#{$hi-css-prefix}-fire {
    &:before {
        content: $hi-fire;
    }
}
.#{$hi-css-prefix}-flag-checkered {
    &:before {
        content: $hi-flag-checkered;
    }
}
.#{$hi-css-prefix}-flag {
    &:before {
        content: $hi-flag;
    }
}
.#{$hi-css-prefix}-film {
    &:before {
        content: $hi-film;
    }
}
.#{$hi-css-prefix}-file-word-o {
    &:before {
        content: $hi-file-word-o;
    }
}
.#{$hi-css-prefix}-file-o {
    &:before {
        content: $hi-file-o;
    }
}
.#{$hi-css-prefix}-file {
    &:before {
        content: $hi-file;
    }
}
.#{$hi-css-prefix}-file-audio-o {
    &:before {
        content: $hi-file-audio-o;
    }
}
.#{$hi-css-prefix}-file-sound-o {
    &:before {
        content: $hi-file-sound-o;
    }
}
.#{$hi-css-prefix}-file-code-o {
    &:before {
        content: $hi-file-code-o;
    }
}
.#{$hi-css-prefix}-file-excel-o {
    &:before {
        content: $hi-file-excel-o;
    }
}
.#{$hi-css-prefix}-file-image-o {
    &:before {
        content: $hi-file-image-o;
    }
}
.#{$hi-css-prefix}-file-photo-o {
    &:before {
        content: $hi-file-photo-o;
    }
}
.#{$hi-css-prefix}-file-picture-o {
    &:before {
        content: $hi-file-picture-o;
    }
}
.#{$hi-css-prefix}-file-pdf-o {
    &:before {
        content: $hi-file-pdf-o;
    }
}
.#{$hi-css-prefix}-file-powerpoint-o {
    &:before {
        content: $hi-file-powerpoint-o;
    }
}
.#{$hi-css-prefix}-file-text-o {
    &:before {
        content: $hi-file-text-o;
    }
}
.#{$hi-css-prefix}-file-video-o {
    &:before {
        content: $hi-file-video-o;
    }
}
.#{$hi-css-prefix}-file-movie-o {
    &:before {
        content: $hi-file-movie-o;
    }
}
.#{$hi-css-prefix}-file-archive-o {
    &:before {
        content: $hi-file-archive-o;
    }
}
.#{$hi-css-prefix}-file-zip-o {
    &:before {
        content: $hi-file-zip-o;
    }
}
.#{$hi-css-prefix}-eye-slash {
    &:before {
        content: $hi-eye-slash;
    }
}
.#{$hi-css-prefix}-eyedropper {
    &:before {
        content: $hi-eyedropper;
    }
}
.#{$hi-css-prefix}-fax {
    &:before {
        content: $hi-fax;
    }
}
.#{$hi-css-prefix}-female {
    &:before {
        content: $hi-female;
    }
}
.#{$hi-css-prefix}-fighter-jet {
    &:before {
        content: $hi-fighter-jet;
    }
}
.#{$hi-css-prefix}-exclamation-circle {
    &:before {
        content: $hi-exclamation-circle;
    }
}
.#{$hi-css-prefix}-exclamation-triangle {
    &:before {
        content: $hi-exclamation-triangle;
    }
}
.#{$hi-css-prefix}-exclamation {
    &:before {
        content: $hi-exclamation;
    }
}
.#{$hi-css-prefix}-external-link-square {
    &:before {
        content: $hi-external-link-square;
    }
}
.#{$hi-css-prefix}-external-link {
    &:before {
        content: $hi-external-link;
    }
}
.#{$hi-css-prefix}-eye {
    &:before {
        content: $hi-eye;
    }
}
.#{$hi-css-prefix}-volume-down {
    &:before {
        content: $hi-volume-down;
    }
}
.#{$hi-css-prefix}-volume-up {
    &:before {
        content: $hi-volume-up;
    }
}
.#{$hi-css-prefix}-volume-off {
    &:before {
        content: $hi-volume-off;
    }
}
.#{$hi-css-prefix}-wheelchair {
    &:before {
        content: $hi-wheelchair;
    }
}
.#{$hi-css-prefix}-wifi {
    &:before {
        content: $hi-wifi;
    }
}
.#{$hi-css-prefix}-wrench {
    &:before {
        content: $hi-wrench;
    }
}
.#{$hi-css-prefix}-user-minus {
    &:before {
        content: $hi-user-minus;
    }
}
.#{$hi-css-prefix}-user-plus {
    &:before {
        content: $hi-user-plus;
    }
}
.#{$hi-css-prefix}-user-secret {
    &:before {
        content: $hi-user-secret;
    }
}
.#{$hi-css-prefix}-user-times {
    &:before {
        content: $hi-user-times;
    }
}
.#{$hi-css-prefix}-user {
    &:before {
        content: $hi-user;
    }
}
.#{$hi-css-prefix}-users {
    &:before {
        content: $hi-users;
    }
}
.#{$hi-css-prefix}-video-camera {
    &:before {
        content: $hi-video-camera;
    }
}
.#{$hi-css-prefix}-envelope-o {
    &:before {
        content: $hi-envelope-o;
    }
}
.#{$hi-css-prefix}-envelope-square {
    &:before {
        content: $hi-envelope-square;
    }
}
.#{$hi-css-prefix}-envelope {
    &:before {
        content: $hi-envelope;
    }
}
.#{$hi-css-prefix}-eraser {
    &:before {
        content: $hi-eraser;
    }
}
.#{$hi-css-prefix}-exchange {
    &:before {
        content: $hi-exchange;
    }
}
.#{$hi-css-prefix}-database-alt {
    &:before {
        content: $hi-database-alt;
    }
}
.#{$hi-css-prefix}-desktop {
    &:before {
        content: $hi-desktop;
    }
}
.#{$hi-css-prefix}-diamond {
    &:before {
        content: $hi-diamond;
    }
}
.#{$hi-css-prefix}-dot-circle-o {
    &:before {
        content: $hi-dot-circle-o;
    }
}
.#{$hi-css-prefix}-download {
    &:before {
        content: $hi-download;
    }
}
.#{$hi-css-prefix}-ellipsis-h {
    &:before {
        content: $hi-ellipsis-h;
    }
}
.#{$hi-css-prefix}-ellipsis-v {
    &:before {
        content: $hi-ellipsis-v;
    }
}
.#{$hi-css-prefix}-credit-card-alt {
    &:before {
        content: $hi-credit-card-alt;
    }
}
.#{$hi-css-prefix}-crop {
    &:before {
        content: $hi-crop;
    }
}
.#{$hi-css-prefix}-crosshairs {
    &:before {
        content: $hi-crosshairs;
    }
}
.#{$hi-css-prefix}-cube {
    &:before {
        content: $hi-cube;
    }
}
.#{$hi-css-prefix}-cubes {
    &:before {
        content: $hi-cubes;
    }
}
.#{$hi-css-prefix}-cutlery {
    &:before {
        content: $hi-cutlery;
    }
}
.#{$hi-css-prefix}-database {
    &:before {
        content: $hi-database;
    }
}
.#{$hi-css-prefix}-compass {
    &:before {
        content: $hi-compass;
    }
}
.#{$hi-css-prefix}-credit-card {
    &:before {
        content: $hi-credit-card;
    }
}
.#{$hi-css-prefix}-cogs {
    &:before {
        content: $hi-cogs;
    }
}
.#{$hi-css-prefix}-gears {
    &:before {
        content: $hi-gears;
    }
}
.#{$hi-css-prefix}-comment-o {
    &:before {
        content: $hi-comment-o;
    }
}
.#{$hi-css-prefix}-comment {
    &:before {
        content: $hi-comment;
    }
}
.#{$hi-css-prefix}-commenting-o {
    &:before {
        content: $hi-commenting-o;
    }
}
.#{$hi-css-prefix}-commenting {
    &:before {
        content: $hi-commenting;
    }
}
.#{$hi-css-prefix}-comments-o {
    &:before {
        content: $hi-comments-o;
    }
}
.#{$hi-css-prefix}-comments {
    &:before {
        content: $hi-comments;
    }
}
.#{$hi-css-prefix}-clone {
    &:before {
        content: $hi-clone;
    }
}
.#{$hi-css-prefix}-cloud-download {
    &:before {
        content: $hi-cloud-download;
    }
}
.#{$hi-css-prefix}-cloud-upload {
    &:before {
        content: $hi-cloud-upload;
    }
}
.#{$hi-css-prefix}-cloud {
    &:before {
        content: $hi-cloud;
    }
}
.#{$hi-css-prefix}-code-fork {
    &:before {
        content: $hi-code-fork;
    }
}
.#{$hi-css-prefix}-code {
    &:before {
        content: $hi-code;
    }
}
.#{$hi-css-prefix}-coffee {
    &:before {
        content: $hi-coffee;
    }
}
.#{$hi-css-prefix}-cog {
    &:before {
        content: $hi-cog;
    }
}
.#{$hi-css-prefix}-gear {
    &:before {
        content: $hi-gear;
    }
}
.#{$hi-css-prefix}-check-square-o {
    &:before {
        content: $hi-check-square-o;
    }
}
.#{$hi-css-prefix}-child {
    &:before {
        content: $hi-child;
    }
}
.#{$hi-css-prefix}-circle-o-notch {
    &:before {
        content: $hi-circle-o-notch;
    }
}
.#{$hi-css-prefix}-circle-o {
    &:before {
        content: $hi-circle-o;
    }
}
.#{$hi-css-prefix}-circle-thin {
    &:before {
        content: $hi-circle-thin;
    }
}
.#{$hi-css-prefix}-circle {
    &:before {
        content: $hi-circle;
    }
}
.#{$hi-css-prefix}-clock-o {
    &:before {
        content: $hi-clock-o;
    }
}
.#{$hi-css-prefix}-check-square {
    &:before {
        content: $hi-check-square;
    }
}
.#{$hi-css-prefix}-check-circle-o {
    &:before {
        content: $hi-check-circle-o;
    }
}
.#{$hi-css-prefix}-cart-plus {
    &:before {
        content: $hi-cart-plus;
    }
}
.#{$hi-css-prefix}-certificate {
    &:before {
        content: $hi-certificate;
    }
}
.#{$hi-css-prefix}-check-circle {
    &:before {
        content: $hi-check-circle;
    }
}
.#{$hi-css-prefix}-check {
    &:before {
        content: $hi-check;
    }
}
.#{$hi-css-prefix}-cart-arrow-down {
    &:before {
        content: $hi-cart-arrow-down;
    }
}
.#{$hi-css-prefix}-cart {
    &:before {
        content: $hi-cart;
    }
}
.#{$hi-css-prefix}-shopping-cart {
    &:before {
        content: $hi-shopping-cart;
    }
}
.#{$hi-css-prefix}-calendar-times-o {
    &:before {
        content: $hi-calendar-times-o;
    }
}
.#{$hi-css-prefix}-camera-retro {
    &:before {
        content: $hi-camera-retro;
    }
}
.#{$hi-css-prefix}-camera {
    &:before {
        content: $hi-camera;
    }
}
.#{$hi-css-prefix}-car {
    &:before {
        content: $hi-car;
    }
}
.#{$hi-css-prefix}-caret-square-o-down2 {
    &:before {
        content: $hi-caret-square-o-down2;
    }
}
.#{$hi-css-prefix}-calendar-minus-o {
    &:before {
        content: $hi-calendar-minus-o;
    }
}
.#{$hi-css-prefix}-calendar-check-o {
    &:before {
        content: $hi-calendar-check-o;
    }
}
.#{$hi-css-prefix}-calendar-o {
    &:before {
        content: $hi-calendar-o;
    }
}
.#{$hi-css-prefix}-calendar-plus-o {
    &:before {
        content: $hi-calendar-plus-o;
    }
}
.#{$hi-css-prefix}-calendar {
    &:before {
        content: $hi-calendar;
    }
}
.#{$hi-css-prefix}-calculator {
    &:before {
        content: $hi-calculator;
    }
}
.#{$hi-css-prefix}-birthday-cake {
    &:before {
        content: $hi-birthday-cake;
    }
}
.#{$hi-css-prefix}-bed-alt {
    &:before {
        content: $hi-bed-alt;
    }
}
.#{$hi-css-prefix}-bicycle {
    &:before {
        content: $hi-bicycle;
    }
}
.#{$hi-css-prefix}-bullhorn {
    &:before {
        content: $hi-bullhorn;
    }
}
.#{$hi-css-prefix}-bus {
    &:before {
        content: $hi-bus;
    }
}
.#{$hi-css-prefix}-bug {
    &:before {
        content: $hi-bug;
    }
}
.#{$hi-css-prefix}-building {
    &:before {
        content: $hi-building;
    }
}
.#{$hi-css-prefix}-bolt {
    &:before {
        content: $hi-bolt;
    }
}
.#{$hi-css-prefix}-flash {
    &:before {
        content: $hi-flash;
    }
}
.#{$hi-css-prefix}-bomb {
    &:before {
        content: $hi-bomb;
    }
}
.#{$hi-css-prefix}-book {
    &:before {
        content: $hi-book;
    }
}
.#{$hi-css-prefix}-bookmark-o {
    &:before {
        content: $hi-bookmark-o;
    }
}
.#{$hi-css-prefix}-bookmark {
    &:before {
        content: $hi-bookmark;
    }
}
.#{$hi-css-prefix}-briefcase {
    &:before {
        content: $hi-briefcase;
    }
}
.#{$hi-css-prefix}-bed {
    &:before {
        content: $hi-bed;
    }
}
.#{$hi-css-prefix}-beer {
    &:before {
        content: $hi-beer;
    }
}
.#{$hi-css-prefix}-bell-o {
    &:before {
        content: $hi-bell-o;
    }
}
.#{$hi-css-prefix}-bell-slash-o {
    &:before {
        content: $hi-bell-slash-o;
    }
}
.#{$hi-css-prefix}-bell-slash {
    &:before {
        content: $hi-bell-slash;
    }
}
.#{$hi-css-prefix}-bell {
    &:before {
        content: $hi-bell;
    }
}
.#{$hi-css-prefix}-binoculars {
    &:before {
        content: $hi-binoculars;
    }
}
.#{$hi-css-prefix}-battery-full {
    &:before {
        content: $hi-battery-full;
    }
}
.#{$hi-css-prefix}-battery-three-quarters {
    &:before {
        content: $hi-battery-three-quarters;
    }
}
.#{$hi-css-prefix}-barcode {
    &:before {
        content: $hi-barcode;
    }
}
.#{$hi-css-prefix}-bars {
    &:before {
        content: $hi-bars;
    }
}
.#{$hi-css-prefix}-battery-empty {
    &:before {
        content: $hi-battery-empty;
    }
}
.#{$hi-css-prefix}-battery-half {
    &:before {
        content: $hi-battery-half;
    }
}
.#{$hi-css-prefix}-battery-quarter {
    &:before {
        content: $hi-battery-quarter;
    }
}
.#{$hi-css-prefix}-balance-scale {
    &:before {
        content: $hi-balance-scale;
    }
}
.#{$hi-css-prefix}-ban {
    &:before {
        content: $hi-ban;
    }
}
.#{$hi-css-prefix}-bank {
    &:before {
        content: $hi-bank;
    }
}
.#{$hi-css-prefix}-bar-chart {
    &:before {
        content: $hi-bar-chart;
    }
}
.#{$hi-css-prefix}-arrows-h {
    &:before {
        content: $hi-arrows-h;
    }
}
.#{$hi-css-prefix}-arrows-v {
    &:before {
        content: $hi-arrows-v;
    }
}
.#{$hi-css-prefix}-arrows {
    &:before {
        content: $hi-arrows;
    }
}
.#{$hi-css-prefix}-asterisk {
    &:before {
        content: $hi-asterisk;
    }
}
.#{$hi-css-prefix}-at {
    &:before {
        content: $hi-at;
    }
}
.#{$hi-css-prefix}-adjust {
    &:before {
        content: $hi-adjust;
    }
}
.#{$hi-css-prefix}-anchor {
    &:before {
        content: $hi-anchor;
    }
}
.#{$hi-css-prefix}-archive {
    &:before {
        content: $hi-archive;
    }
}
.#{$hi-css-prefix}-area-chart {
    &:before {
        content: $hi-area-chart;
    }
}
.#{$hi-css-prefix}-caret-square-o-up {
    &:before {
        content: $hi-caret-square-o-up;
    }
}
.#{$hi-css-prefix}-caret-square-o-right {
    &:before {
        content: $hi-caret-square-o-right;
    }
}
.#{$hi-css-prefix}-caret-square-o-down {
    &:before {
        content: $hi-caret-square-o-down;
    }
}
.#{$hi-css-prefix}-caret-square-o-left {
    &:before {
        content: $hi-caret-square-o-left;
    }
}
.#{$hi-css-prefix}-commentng {
    &:before {
        content: $hi-commentng;
    }
}
.#{$hi-css-prefix}-angle-double-right {
    &:before {
        content: $hi-angle-double-right;
    }
}
.#{$hi-css-prefix}-angle-double-left {
    &:before {
        content: $hi-angle-double-left;
    }
}
.#{$hi-css-prefix}-angle-double-up {
    &:before {
        content: $hi-angle-double-up;
    }
}
.#{$hi-css-prefix}-angle-double-down {
    &:before {
        content: $hi-angle-double-down;
    }
}
.#{$hi-css-prefix}-angle-right {
    &:before {
        content: $hi-angle-right;
    }
}
.#{$hi-css-prefix}-angle-left {
    &:before {
        content: $hi-angle-left;
    }
}
.#{$hi-css-prefix}-angle-up {
    &:before {
        content: $hi-angle-up;
    }
}
.#{$hi-css-prefix}-angle-down {
    &:before {
        content: $hi-angle-down;
    }
}
.#{$hi-css-prefix}-chevron-o-up {
    &:before {
        content: $hi-chevron-o-up;
    }
}
.#{$hi-css-prefix}-chevron-o-right {
    &:before {
        content: $hi-chevron-o-right;
    }
}
.#{$hi-css-prefix}-chevron-o-left {
    &:before {
        content: $hi-chevron-o-left;
    }
}
.#{$hi-css-prefix}-chevron-o-down {
    &:before {
        content: $hi-chevron-o-down;
    }
}
.#{$hi-css-prefix}-chevron-right {
    &:before {
        content: $hi-chevron-right;
    }
}
.#{$hi-css-prefix}-chevron-up {
    &:before {
        content: $hi-chevron-up;
    }
}
.#{$hi-css-prefix}-chevron-left {
    &:before {
        content: $hi-chevron-left;
    }
}
.#{$hi-css-prefix}-chevron-down {
    &:before {
        content: $hi-chevron-down;
    }
}
.#{$hi-css-prefix}-caret-left {
    &:before {
        content: $hi-caret-left;
    }
}
.#{$hi-css-prefix}-caret-right {
    &:before {
        content: $hi-caret-right;
    }
}
.#{$hi-css-prefix}-caret-up {
    &:before {
        content: $hi-caret-up;
    }
}
.#{$hi-css-prefix}-caret-down {
    &:before {
        content: $hi-caret-down;
    }
}
.#{$hi-css-prefix}-arrow-right {
    &:before {
        content: $hi-arrow-right;
    }
}
.#{$hi-css-prefix}-arrow-up {
    &:before {
        content: $hi-arrow-up;
    }
}
.#{$hi-css-prefix}-arrow-left {
    &:before {
        content: $hi-arrow-left;
    }
}
.#{$hi-css-prefix}-arrow-down {
    &:before {
        content: $hi-arrow-down;
    }
}
.#{$hi-css-prefix}-arrow-circle-o-right {
    &:before {
        content: $hi-arrow-circle-o-right;
    }
}
.#{$hi-css-prefix}-arrow-circle-o-left {
    &:before {
        content: $hi-arrow-circle-o-left;
    }
}
.#{$hi-css-prefix}-arrow-circle-o-up {
    &:before {
        content: $hi-arrow-circle-o-up;
    }
}
.#{$hi-css-prefix}-arrow-circle-o-down {
    &:before {
        content: $hi-arrow-circle-o-down;
    }
}
.#{$hi-css-prefix}-arrow-circle-right {
    &:before {
        content: $hi-arrow-circle-right;
    }
}
.#{$hi-css-prefix}-arrow-circle-left {
    &:before {
        content: $hi-arrow-circle-left;
    }
}
.#{$hi-css-prefix}-arrow-circle-up {
    &:before {
        content: $hi-arrow-circle-up;
    }
}
.#{$hi-css-prefix}-arrow-circle-down {
    &:before {
        content: $hi-arrow-circle-down;
    }
}
.#{$hi-css-prefix}-play {
    &:before {
        content: $hi-play;
    }
}
.#{$hi-css-prefix}-backward {
    &:before {
        content: $hi-backward;
    }
}
