$hi-font-path: "../fonts" !default;
$hi-font-size-base:   14px !default;
$hi-line-height-base: 1 !default;
$hi-css-prefix:       hi !default;
$hi-version:          "1.0.0-beta" !default;
$hi-border-color:     #eee !default;
$hi-inverse:          #fff !default;
$hi-li-width:         (30em / 14) !default;


$hi-twitter: "\f099";
$hi-facebook: "\f09a";
$hi-github: "\f09b";
$hi-pinterest: "\f0d2";
$hi-google-plus: "\f0d5";
$hi-eur: "\f153";
$hi-euro: "\f153";
$hi-gbp: "\f154";
$hi-dollar2: "\f155";
$hi-usd: "\f155";
$hi-inr: "\f156";
$hi-rupee: "\f156";
$hi-cny: "\f157";
$hi-jpy: "\f157";
$hi-rmb: "\f157";
$hi-yen: "\f157";
$hi-rouble: "\f158";
$hi-rub: "\f158";
$hi-ruble: "\f158";
$hi-bitcoin: "\f15a";
$hi-btc: "\f15a";
$hi-reddit: "\f1a1";
$hi-paypal: "\f1ed";
$hi-cc-visa: "\f1f0";
$hi-cc-mastercard: "\f1f1";
$hi-cc-discover: "\f1f2";
$hi-cc-amex: "\f1f3";
$hi-cc-paypal: "\f1f4";
$hi-cc-stripe: "\f1f5";
$hi-copyright: "\f1f9";
$hi-cc: "\f20a";
$hi-trademark: "\f25c";
$hi-registered: "\f25d";
$hi-creative-commons: "\f25e";
$hi-bluetooth: "\f293";
$hi-bluetooth-b: "\f294";
$hi-cut: "\e911";
$hi-list-ol: "\ea77";
$hi-list-ul: "\ea78";
$hi-list: "\ea79";
$hi-font: "\ea03";
$hi-strikethrough: "\ea04";
$hi-table: "\ea7a";
$hi-align-left: "\ea7b";
$hi-align-right: "\ea7c";
$hi-link: "\ea7d";
$hi-paste: "\ea7e";
$hi-save: "\ea7f";
$hi-unlink: "\ea80";
$hi-align-center: "\ea81";
$hi-align-justify: "\ea82";
$hi-bold: "\ea83";
$hi-italic: "\ea84";
$hi-underline: "\ea85";
$hi-th: "\ea74";
$hi-th-large: "\ea75";
$hi-th-list: "\ea76";
$hi-keyboard-o: "\e900";
$hi-question-circle: "\e901";
$hi-question: "\e902";
$hi-building-o: "\e903";
$hi-bullseye: "\e904";
$hi-fast-forward: "\e905";
$hi-forward: "\e906";
$hi-pause-circle: "\e907";
$hi-pause: "\e908";
$hi-play-circle: "\e909";
$hi-stop-circle: "\e90b";
$hi-stop: "\e90c";
$hi-eject: "\e917";
$hi-fast-backward: "\e918";
$hi-tree: "\e919";
$hi-trophy: "\e91a";
$hi-truck: "\e91b";
$hi-umbrella: "\e91c";
$hi-unlock-alt: "\e91d";
$hi-unlock: "\e91e";
$hi-upload: "\e91f";
$hi-thumbs-up: "\e920";
$hi-ticket: "\e921";
$hi-times-circle-o: "\e922";
$hi-times-circle: "\e923";
$hi-times: "\e924";
$hi-tint: "\e925";
$hi-trash-o: "\e926";
$hi-trash: "\e927";
$hi-thumbs-down-o: "\e928";
$hi-thumbs-down: "\e929";
$hi-thumbs-up-o: "\e92a";
$hi-tablet: "\e92b";
$hi-tachometer-o: "\e92c";
$hi-dashboard-o: "\e92c";
$hi-tachometer: "\e92d";
$hi-dashboard: "\e92d";
$hi-television: "\e92e";
$hi-tv: "\e92e";
$hi-terminal: "\e92f";
$hi-thumb-tack: "\e930";
$hi-sticky-note-o: "\e931";
$hi-sticky-note: "\e932";
$hi-street-view: "\e933";
$hi-suitcase: "\e934";
$hi-sun-o: "\e935";
$hi-tag: "\e936";
$hi-tags: "\e937";
$hi-taxi: "\e938";
$hi-spinner: "\e939";
$hi-spoon: "\e93a";
$hi-square-o: "\e93b";
$hi-square: "\e93c";
$hi-star-half-empty: "\e93d";
$hi-star-half: "\e93e";
$hi-star-o: "\e93f";
$hi-star: "\e940";
$hi-sort-numeric-desc: "\e941";
$hi-sort-alpha-desc: "\e942";
$hi-sort-amount-asc: "\e943";
$hi-sort-amount-desc: "\e944";
$hi-sort-asc: "\e945";
$hi-sort-desc: "\e946";
$hi-sort-numeric-asc: "\e947";
$hi-sign-out: "\e948";
$hi-signal: "\e949";
$hi-sitemap: "\e94a";
$hi-sliders: "\e94b";
$hi-smile-o: "\e94c";
$hi-sort-alpha-asc: "\e94d";
$hi-sort: "\e94e";
$hi-shield: "\e94f";
$hi-ship: "\e950";
$hi-shopping-bag: "\e951";
$hi-shopping-basket: "\e952";
$hi-sign-in: "\e953";
$hi-share-alt-square: "\e954";
$hi-share-alt: "\e955";
$hi-share-square-o: "\e956";
$hi-share-square: "\e957";
$hi-rocket: "\e958";
$hi-rss-square: "\e959";
$hi-rss: "\e95a";
$hi-search-minus: "\e95b";
$hi-search-plus: "\e95c";
$hi-search: "\e95d";
$hi-server: "\e95e";
$hi-share: "\e95f";
$hi-random: "\e960";
$hi-refresh: "\e961";
$hi-reply-all: "\e962";
$hi-reply: "\e963";
$hi-retweet: "\e964";
$hi-road: "\e965";
$hi-quote-left: "\e966";
$hi-quote-right: "\e967";
$hi-puzzle-piece: "\e968";
$hi-qrcode: "\e969";
$hi-plane: "\e96a";
$hi-plug: "\e96b";
$hi-plus-circle: "\e96c";
$hi-plus-square-o: "\e96d";
$hi-plus-square: "\e96e";
$hi-plus: "\e96f";
$hi-power-off: "\e970";
$hi-print: "\e971";
$hi-pencil-square-o: "\e972";
$hi-pencil-square: "\e973";
$hi-percent: "\e974";
$hi-phone-square: "\e975";
$hi-phone: "\e976";
$hi-picture-o: "\e977";
$hi-picture: "\e978";
$hi-pie-chart: "\e979";
$hi-pencil: "\e97a";
$hi-object-group: "\e97b";
$hi-object-ungroup: "\e97c";
$hi-paint-brush: "\e97d";
$hi-paper-plane-o: "\e97e";
$hi-paper-plane: "\e97f";
$hi-paperclip: "\e980";
$hi-paw: "\e981";
$hi-mobile: "\e982";
$hi-money: "\e983";
$hi-dollar-bill: "\e983";
$hi-currency: "\e983";
$hi-moon-o: "\e984";
$hi-moon: "\e985";
$hi-motorcycle: "\e986";
$hi-mouse-pointer: "\e987";
$hi-music: "\e988";
$hi-newspaper-o: "\e989";
$hi-meh-o: "\e98a";
$hi-microphone-slash: "\e98b";
$hi-microphone: "\e98c";
$hi-minus-circle: "\e98d";
$hi-minus-square-o: "\e98e";
$hi-minus-square: "\e98f";
$hi-minus: "\e990";
$hi-map-signs: "\e991";
$hi-magic: "\e992";
$hi-magnet: "\e993";
$hi-male: "\e994";
$hi-map-marker: "\e995";
$hi-map-o: "\e996";
$hi-map-pin: "\e997";
$hi-map: "\e998";
$hi-life-ring: "\e999";
$hi-life-buoy: "\e999";
$hi-life-bouy: "\e999";
$hi-life-saver: "\e999";
$hi-lightbulb-o: "\e99a";
$hi-lightbulb: "\e99b";
$hi-line-chart: "\e99c";
$hi-location-arrow: "\e99d";
$hi-lock: "\e99e";
$hi-trend: "\e99f";
$hi-laptop: "\e9a0";
$hi-leaf: "\e9a1";
$hi-lemon-o: "\e9a2";
$hi-lemon: "\e9a3";
$hi-level-down: "\e9a4";
$hi-level-up: "\e9a5";
$hi-industry: "\e9a6";
$hi-info-circle: "\e9a7";
$hi-info: "\e9a8";
$hi-key: "\e9a9";
$hi-language: "\e9aa";
$hi-history: "\e9ab";
$hi-home: "\e9ac";
$hi-hourglass-end: "\e9ad";
$hi-hourglass-half: "\e9ae";
$hi-hourglass-o: "\e9af";
$hi-hourglass-start: "\e9b0";
$hi-hourglass: "\e9b1";
$hi-i-cursor: "\e9b2";
$hi-inbox: "\e9b3";
$hi-hdd-o: "\e9b4";
$hi-headphones: "\e9b5";
$hi-heart-o: "\e9b6";
$hi-heart: "\e9b7";
$hi-heartbeat: "\e9b8";
$hi-gift: "\e9b9";
$hi-glass: "\e9ba";
$hi-globe-alt: "\e9bb";
$hi-globe: "\e9bc";
$hi-graduation-cap: "\e9bd";
$hi-hashtag: "\e9be";
$hi-flag-o: "\e9bf";
$hi-flask: "\e9c0";
$hi-folder-o: "\e9c1";
$hi-folder-open-o: "\e9c2";
$hi-folder-open: "\e9c3";
$hi-folder: "\e9c4";
$hi-frown-o: "\e9c5";
$hi-gamepad: "\e9c6";
$hi-gavel: "\e9c7";
$hi-filter: "\e9c8";
$hi-fire-extinguisher: "\e9c9";
$hi-fire: "\e9ca";
$hi-flag-checkered: "\e9cb";
$hi-flag: "\e9cc";
$hi-film: "\e9cd";
$hi-file-word-o: "\e9ce";
$hi-file-o: "\ea86";
$hi-file: "\ea87";
$hi-file-audio-o: "\e9db";
$hi-file-sound-o: "\e9db";
$hi-file-code-o: "\e9cf";
$hi-file-excel-o: "\e9d0";
$hi-file-image-o: "\e9d1";
$hi-file-photo-o: "\e9d1";
$hi-file-picture-o: "\e9d1";
$hi-file-pdf-o: "\e9d2";
$hi-file-powerpoint-o: "\e9d3";
$hi-file-text-o: "\ea88";
$hi-file-video-o: "\e9d4";
$hi-file-movie-o: "\e9d4";
$hi-file-archive-o: "\e9da";
$hi-file-zip-o: "\e9da";
$hi-eye-slash: "\e9d5";
$hi-eyedropper: "\e9d6";
$hi-fax: "\e9d7";
$hi-female: "\e9d8";
$hi-fighter-jet: "\e9d9";
$hi-exclamation-circle: "\e9dc";
$hi-exclamation-triangle: "\e9dd";
$hi-exclamation: "\e9de";
$hi-external-link-square: "\e9df";
$hi-external-link: "\e9e0";
$hi-eye: "\e9e1";
$hi-volume-down: "\e9e2";
$hi-volume-up: "\e9e3";
$hi-volume-off: "\e9e4";
$hi-wheelchair: "\e9e5";
$hi-wifi: "\e9e6";
$hi-wrench: "\e9e7";
$hi-user-minus: "\e9e8";
$hi-user-plus: "\e9e9";
$hi-user-secret: "\e9ea";
$hi-user-times: "\e9eb";
$hi-user: "\e9ec";
$hi-users: "\e9ed";
$hi-video-camera: "\e9ee";
$hi-envelope-o: "\e9ef";
$hi-envelope-square: "\e9f0";
$hi-envelope: "\e9f1";
$hi-eraser: "\e9f2";
$hi-exchange: "\e9f3";
$hi-database-alt: "\e9f4";
$hi-desktop: "\e9f5";
$hi-diamond: "\e9f6";
$hi-dot-circle-o: "\e9f7";
$hi-download: "\e9f8";
$hi-ellipsis-h: "\e9f9";
$hi-ellipsis-v: "\e9fa";
$hi-credit-card-alt: "\e9fb";
$hi-crop: "\e9fc";
$hi-crosshairs: "\e9fd";
$hi-cube: "\e9fe";
$hi-cubes: "\e9ff";
$hi-cutlery: "\ea00";
$hi-database: "\ea01";
$hi-compass: "\ea02";
$hi-credit-card: "\ea05";
$hi-cogs: "\ea06";
$hi-gears: "\ea06";
$hi-comment-o: "\ea07";
$hi-comment: "\ea08";
$hi-commenting-o: "\ea09";
$hi-commenting: "\ea0a";
$hi-comments-o: "\ea0b";
$hi-comments: "\ea0c";
$hi-clone: "\ea0d";
$hi-cloud-download: "\ea0e";
$hi-cloud-upload: "\ea0f";
$hi-cloud: "\ea10";
$hi-code-fork: "\ea11";
$hi-code: "\ea12";
$hi-coffee: "\ea13";
$hi-cog: "\ea14";
$hi-gear: "\ea14";
$hi-check-square-o: "\ea15";
$hi-child: "\ea16";
$hi-circle-o-notch: "\ea17";
$hi-circle-o: "\ea18";
$hi-circle-thin: "\ea19";
$hi-circle: "\ea1a";
$hi-clock-o: "\ea1b";
$hi-check-square: "\ea1c";
$hi-check-circle-o: "\ea1d";
$hi-cart-plus: "\ea1e";
$hi-certificate: "\ea1f";
$hi-check-circle: "\ea20";
$hi-check: "\ea21";
$hi-cart-arrow-down: "\ea22";
$hi-cart: "\ea23";
$hi-shopping-cart: "\ea23";
$hi-calendar-times-o: "\ea24";
$hi-camera-retro: "\ea25";
$hi-camera: "\ea26";
$hi-car: "\ea27";
$hi-caret-square-o-down2: "\ea2c";
$hi-calendar-minus-o: "\ea2d";
$hi-calendar-check-o: "\ea2e";
$hi-calendar-o: "\ea2f";
$hi-calendar-plus-o: "\ea30";
$hi-calendar: "\ea31";
$hi-calculator: "\ea32";
$hi-birthday-cake: "\ea33";
$hi-bed-alt: "\ea34";
$hi-bicycle: "\ea35";
$hi-bullhorn: "\ea36";
$hi-bus: "\ea37";
$hi-bug: "\ea38";
$hi-building: "\ea39";
$hi-bolt: "\ea3a";
$hi-flash: "\ea3a";
$hi-bomb: "\ea3b";
$hi-book: "\ea3c";
$hi-bookmark-o: "\ea3d";
$hi-bookmark: "\ea3e";
$hi-briefcase: "\ea3f";
$hi-bed: "\ea40";
$hi-beer: "\ea41";
$hi-bell-o: "\ea42";
$hi-bell-slash-o: "\ea43";
$hi-bell-slash: "\ea44";
$hi-bell: "\ea45";
$hi-binoculars: "\ea46";
$hi-battery-full: "\ea47";
$hi-battery-three-quarters: "\ea48";
$hi-barcode: "\ea49";
$hi-bars: "\ea4a";
$hi-battery-empty: "\ea4b";
$hi-battery-half: "\ea4c";
$hi-battery-quarter: "\ea4d";
$hi-balance-scale: "\ea4e";
$hi-ban: "\ea4f";
$hi-bank: "\ea50";
$hi-bar-chart: "\ea51";
$hi-arrows-h: "\ea52";
$hi-arrows-v: "\ea53";
$hi-arrows: "\ea54";
$hi-asterisk: "\ea55";
$hi-at: "\ea56";
$hi-adjust: "\ea57";
$hi-anchor: "\ea58";
$hi-archive: "\ea59";
$hi-area-chart: "\ea5a";
$hi-caret-square-o-up: "\ea5b";
$hi-caret-square-o-right: "\ea5c";
$hi-caret-square-o-down: "\ea5d";
$hi-caret-square-o-left: "\ea5e";
$hi-commentng: "\ea5f";
$hi-angle-double-right: "\e915";
$hi-angle-double-left: "\e916";
$hi-angle-double-up: "\ea28";
$hi-angle-double-down: "\ea29";
$hi-angle-right: "\ea2a";
$hi-angle-left: "\ea2b";
$hi-angle-up: "\ea60";
$hi-angle-down: "\ea61";
$hi-chevron-o-up: "\ea71";
$hi-chevron-o-right: "\ea72";
$hi-chevron-o-left: "\ea73";
$hi-chevron-o-down: "\e90e";
$hi-chevron-right: "\ea62";
$hi-chevron-up: "\ea63";
$hi-chevron-left: "\ea64";
$hi-chevron-down: "\e90f";
$hi-caret-left: "\ea65";
$hi-caret-right: "\ea66";
$hi-caret-up: "\ea67";
$hi-caret-down: "\e910";
$hi-arrow-right: "\ea68";
$hi-arrow-up: "\ea69";
$hi-arrow-left: "\ea6a";
$hi-arrow-down: "\e912";
$hi-arrow-circle-o-right: "\ea6b";
$hi-arrow-circle-o-left: "\ea6c";
$hi-arrow-circle-o-up: "\ea6d";
$hi-arrow-circle-o-down: "\e913";
$hi-arrow-circle-right: "\ea6e";
$hi-arrow-circle-left: "\ea6f";
$hi-arrow-circle-up: "\ea70";
$hi-arrow-circle-down: "\e914";
$hi-play: "\e90a";
$hi-backward: "\e90d";
